.about-me {
  padding: 60px;
  /* background-color: #0891B2; */
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.about-me-name{
  display: flex;
  position: relative;
  max-width: 400px;
  /* border: 1px solid black; */
  transform: translateX(10px);
  h2{
    font-size: 3.5em;
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: white;
  }
  img{
    width: 100%;
  }
}
.about-me-info {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  border: 1px solid black;
  z-index: 2;
  box-shadow: 8px 8px #E5E5E5;
  gap: 20px;
  background-color: #fff;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #000;
}